@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@media only screen and (max-width: 900px){
    html {
        font-size: 50%;
    }
}


body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    padding: 0 0 0 4rem;
}
/* Contact us section styling */
.contact{
    color: #000000;
    background-image: linear-gradient(to bottom, #F5F5F5 85%, #8D8D8D 85%);
    font-weight: 900;
    padding: 4rem 0 2rem 20rem;
    position: relative;
    height: 90vh;
}
/* left text */
.contact__identifier{
    font-size: 3rem;
    transform: rotate(-90deg);
    width: 30%;
    position: absolute;
    left: -10%;
    top: 15%;    
}
.contact__identifier--line{
    display: inline-block;
    margin: .4rem 1.8rem;
    width: 4rem;
    height: .7rem;
    background-color: #000000;
}
.contact__header{
    font-size: 5rem;
    font-weight: inherit;
}
.contact__header--span{
    display: block;
    margin: -2rem 0 0 15rem;
}
.contact__details{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact__details--label{
    display: inline-block;
    font-size: 2rem;
}
.contact__input{
    border: none;
    background-color: #E6E6E6;
}


/* FOOTER STYLING */
.footer{
    background-color: #000000;
    /* height: 50vh; */
}

.footer__details{
    display: flex;
    font-size: 1.7rem;
    justify-content: space-around;
    width: 80%;
    padding: 2rem 0 0 5rem;
}

.footer__header{
    color: #CF3132;
    font-size: 3rem;
    font-weight: 800;
    padding: 0 0 1.5rem 0;
}

.footer__email{
    /* font-size: 4rem; */
    font-weight: 700;
}

.footer__email--icon{
    padding: 0 .8rem 0 0;
}

/* footer icon */
.footer__icon--box{
    font-size: 4rem;
}

.footer__icon{
    display: inline-block;
    padding: 0 0 0 2rem;
}

/* footer cta */
.footer__cta{
    text-align: center;
}

.footer__cta--link{
    display: inline-block;
    width: 40%;
    text-decoration: none;
    margin: 3rem 0 0;
}

.footer__cta--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}