@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@media only screen and (max-width: 900px){
    html {
        font-size: 50%;
    }
}

body{
    background-color: #ffffff;
    /* font-family: 'Montserrat', sans-serif; */
    color: #000000;
    padding: 0 0 0 8rem;
    letter-spacing: 3px;
}

@font-face{
    font-family: "shapiro";
    src: url(fonts/Nersans\ Three.otf);
    font-style: normal;
}
@font-face{
    font-family: "shapiro-feather";
    src: url(fonts/Shapiro/OGJ\ Type\ Design\ -\ Shapiro\ 35\ Feather\ Text.otf);
    font-style: normal;
}
@font-face{
    font-family: "shapiro-light";
    src: url(fonts/Shapiro/OGJ\ Type\ Design\ -\ Shapiro\ 5\ Light\ Fly.otf);
    font-style: normal;
}
@font-face{
    font-family: "shapiro-air";
    src: url(fonts/Shapiro/OGJ\ Type\ Design\ -\ Shapiro\ 97\ Air\ Extd.otf);
    font-style: normal;
}
@font-face{
    font-family: "shapiro-dark";
    src: url(fonts/Shapiro/OGJ\ Type\ Design\ -\ Shapiro\ 95\ Super\ Wide.otf);
    font-style: normal;
}
/* styling for header */
.header{
    width: 100%;
    background-image: url("./img/header.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}
.header__nav{
    background-color: #CF3132;
    position: absolute;
    top: 5rem;
    left: -3rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__arrow--box{
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CF3132;
    padding: 2rem 0;
}
/* styling for counter */
.counter{
    padding: 5rem 0;
    background-color: #F5F5F5;
    position: relative;
}
.counter__nav--box{
    position: absolute;
    left: -3rem;
    top: 14rem;
    z-index: 40;
}
#menuToggle{
  display: block;
  background-color: #CF3132;
  color: #f3f0f0;
  padding: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
}
.counter__link{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;  
    font-size: 2rem;
    font-weight: 800;  
}
.counter__check{
    display: none;
}
.counter__label{
    background-color: #CF3132;
    display: inline-block;
}
.counter__label--span{
    display: block;
    width: 3.3rem;
    height: .4rem;
    background: #ffffff;
    position: relative;
    z-index: 20;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
.counter__label--span:not(:last-child){
    margin-bottom: 5px;
}
#menuToggle input:checked + label  .counter__label--span{
    opacity: 1;
  transform: rotate(45deg) translate(1px, -1px);
}
#menuToggle input:checked + label  .counter__label--span:nth-last-child(2){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
#menuToggle input:checked  + label  .counter__label--span:nth-last-child(1){
  transform: rotate(-45deg) translate(0, -1px);
}
#counter__list{
    display: none;
    list-style: none;
}
.counter__item{
    padding: 1rem 0 0;
}
#menuToggle input:checked ~ #counter__list{
    display: block;
}
.counter__timer{
    background-color: transparent;
}
.counter__countdown {
    font-family: shapiro-feather;
    text-align: center;
    font-size: 60px;
    margin: 3rem auto 1rem;
    border: 2px solid #CF3132;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.counter__countdown p{
    padding: 1.5rem;
}
#days{
    background-color: #CF3132;
    color: #f3f0f0;
}
.counter__names{
    display: flex;
    margin: 0 auto;
    width: 40%;
    padding: 0 2rem;
    justify-content: space-between;
}
.counter__names span{
    font-family: shapiro;
    display: block;
    font-size:1.8rem;
}

/* styling for headliner section */
.headliner{
    padding: 4rem 6rem;
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
}
.headliner__box{
    display: flex;
    justify-content: space-between;
}
.headliner__top__line{
    height: .2rem;
    width: 100%;
    background-color: #000000;
    position: relative;
    top: 0;
    right: -10rem;
    margin: 0 0 7rem;
    font-family: shapiro-dark;
}
.headliner__top__line::before{
    content: '\00b7';
    height: 5rem;
    width: 5rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -2.3rem;
    display: flex;
    font-weight: 900;
    align-items: center;
    font-size: 2.5rem;
    justify-content: center;
}
.headliner__header{
    font-weight: 700;
    font-size: 7rem;
    font-family: shapiro-dark;
}
.headliner__header--span{
    display: block;
    color: #CF3132;
    font-size: 20rem;
    margin: -6rem 0 0;
    
}

.headliner__header--baby{
    margin: -10rem 0 -4rem;
}
.headliner__text--code{
    width: 22%;
}
.headliner__bar-code{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headliner__text{
    width: 55%;
    position: relative;
    z-index: 10;
}
.headliner__image{
    background-color: #000000;
    width: 43%;
    margin: 8rem 0 0;
    position: relative;
}
.headliner__image::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: -7.3rem;
    right: 4rem;
    height: 10rem;
    width: 80%;
    background-image: url("/img/code--image.PNG");
    background-size: cover;
}
.artist__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Styling for about section */
.about{
    padding: 2.5rem 0 2rem 6rem;
    background-color: #F5F3F4; 
    text-transform: uppercase;
    font-size: 3rem;
    overflow: hidden;
    position: relative;
}
.about__top__line{
    font-family: shapiro-dark;
    height: .2rem;
    width: 100%;
    background-color: #000000;
    position: relative;
    top: 0;
    right: -10rem;
    margin: 0 0 1.5rem;
}
.about__top__line::before{
    content: '\00b7';
    height: 5rem;
    width: 5rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -2.3rem;
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}

.about__header{
    font-family: "shapiro-dark";
    font-size: 8rem;
    font-weight: 700;
    margin: 0 0 -2.7rem;
}
.about__logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__paragraph{
    font-weight: 500;
    padding: 1.5rem 0 0;
    font-family: shapiro;
}
.about__location{
    display: flex;
}
.location__paragraph{
    font-family: shapiro;
}
.location__header{
    font-family: shapiro;
    font-size: 4.5rem;
    font-weight: 600;
    margin: 0 0 -1rem;
}
.map{
    width: 30%;
}
.frame{
    width: 100%;
    height: 100%;
}
.about__image,
.date__line--box,
.time__line--box{
    width: 20%;
    display: inline-block;
    align-self: flex-end;
}
.about__image{
    width: 50%;
    display: inline-block;
    align-self: center;
}
.about__box{
    display: flex;
    width: 60%;
}
.about__line--box,
.location__line--box{
    display: block;
}
.about__line--box{
    width: 100%;
    height: 38%;
    margin: 1rem 0 0 -1rem;
}
.location__line--box{
    width: 70%;
    height: 30%;
    margin: 1rem 0 1rem -1rem;
}
.about__photo,
.date__line,
.about__line,
.time__line,
.location__line{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.date__box,
.time__box{
    display: flex;   
}

/* styling for tickets section */
.tickets{
    /* padding: 2rem 4rem; */
    padding: 0 4rem 2rem;
    background-image: linear-gradient(to bottom, #F5F5F5 24%, #908C8B 24%, #908C8B 80%,
    #F5F5F5 80%);
}
.tickects__header{
    color: #CF3132;
    font-size: 10.5rem;
    font-weight: 700;
    font-family: shapiro-dark;

}
.ticket__box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.ticket{
    width: 30%;
    text-align: center;
    background-color: #E6E6E6;
}
.ticket__title{
    width: 100%;
    padding: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E6E6E6;
    background-image: url("./img/ticket1.PNG");
    background-size: cover;
    font-family: shapiro-dark;

}
.ticket__header{
    font-size: 5rem;
    font-weight: 900;

}

.ticket__header--no{
    display: block;
    margin: -1rem 0 0;
    font-size: 7rem;
}
.ticket__list{
    list-style: none;
    text-transform: uppercase;
    width: 65%;
    margin: auto;
    font-family: shapiro;
}
.ticket__item{
    padding: 1.3rem 0;
    font-size: 1.4rem;
}
.ticket__item:not(:last-child){
    border-bottom: 1px solid #D7D6D4;
}
.ticket__price{
    font-family: shapiro-dark;
    font-size: 2.7rem;
    padding: 2.5rem 0 7rem;
}


/* styling for FAQ */
.faq{
    background-color: #F5F5F5;
    padding: 5rem 4rem;
}
.faq__box{
    display: flex;
    justify-content: space-between;
}
.faq__question{
    width: 35%;
    align-self: start;
}
.faq__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq__details{
    width: 50%;
    padding: 3rem 4.5rem;
    background-color: #ffffff;
    height: 60rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    overflow: scroll;
}
.faq__details p {
    padding: 1rem 0;
    font-family: shapiro;
}
.faq__header{
    font-family: shapiro-dark;
    font-size: 4rem;
}

/* styling fro instagram section */
.instagram{
    background-color: #F5F5F5;
    padding: 5rem 4rem;
    color: #000000;
    display: flex;
    justify-content: space-around;
}
.instagram__header{
    font-family: shapiro-dark;
    font-size: 4rem;
    padding: 0 0 2rem;
}
.instagram__posts{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.instagram__post{
    width: 30%;
    height: 20rem;
    background-color: palegoldenrod;
}
.instagram__cta{
    display: block;
}
.instagram__btn{
    text-decoration: none;
    color: #f3f0f0;
    font-family: shapiro-dark;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    background-color: #CF3132;
    text-align: center;
}
/* styling for sponsors */
.sponsors{
    padding: 5rem 0 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sponsors__header{
    font-size: 4rem;
    transform: rotate(-90deg);
    font-family: shapiro-dark;
    margin: 0 0 0 -9rem;
}

.sponsors__select{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.sponsors__options{
    width: 20%;
    height: 15rem;
}
.sponsors__options1,
.sponsors__options2,
.sponsors__options3,
.sponsors__options4,
.sponsors__options5{
    border-bottom: 1.5px solid #f3f0f0;
}
.sponsors__options1,
.sponsors__options2,
.sponsors__options3,
.sponsors__options4{
    border-right: 1.5px solid #f3f0f0;
}

.sponsors__options6,
.sponsors__options7,
.sponsors__options8,
.sponsors__options9{
    border-right: 1.5px solid #f3f0f0;
}


.sponsors__options:hover,
.sponsors__options:active{
    background-color: red;
}
/* Contact us section styling */
.contact{
    background-image: linear-gradient(to bottom, rgb(245, 245, 245) 85%, #8D8D8D 85%);
    font-weight: 900;
    padding: 4rem 0 8rem 20rem;
    position: relative;
}
/* left text */
.contact__identifier{
    font-size: 3rem;
    transform: rotate(-90deg);
    width: 30%;
    position: absolute;
    left: -10%;
    top: 15%;    
}
.contact__identifier--line{
    display: inline-block;
    margin: .4rem 1.8rem;
    width: 4rem;
    height: .7rem;
    background-color: #000000;
}
.contact__header--box{
    margin: 3rem 0;
}
.contact__header{
    font-size: 3rem;
    font-family: shapiro-dark;
    font-weight: inherit;
}
.contact__header--span{
    display: block;
    margin: -2rem 0 0 15rem;
}

/* contact form */
.contact__form{
    padding: 5rem 0;
    width: 85%;
}
.contact__details{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact__details--label{
    display: inline-block;
    font-size: 2rem;
    width: 45%;
    display: flex;
    align-items: center;
}
.contact__input{
    border: none;
    background-color: #E6E6E6;
    padding: 1rem;
    flex: 1;
    margin: 0 0 0 .8rem;
}
.message__label{
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    margin: 2rem 0;
}

.textarea { 
    resize: none; 
    background-color: #E6E6E6;
    flex: 1;
    border: none;
    margin: 0 0 0 .8rem;
}


/* FOOTER STYLING */
.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 3rem 0 16rem;
}

.footer__details{
    display: flex;
    font-size: 1.7rem;
    justify-content: space-around;
    width: 80%;
    padding: 2rem 0 0 5rem;
}

.footer__header{
    color: #CF3132;
    font-size: 3rem;
    font-weight: 800;
    padding: 0 0 1.5rem 0;
}

.footer__email{
    /* font-size: 4rem; */
    font-weight: 700;
}

.footer__email--icon{
    padding: 0 .8rem 0 0;
}

/* footer icon */
.footer__icon--box{
    font-size: 4rem;
}

.footer__icon{
    display: inline-block;
    padding: 0 0 0 2rem;
}
.footer__icon--link{
    text-decoration: none;
    color:inherit;
}

/* footer cta */
.footer__cta{
    text-align: center;
    background-color: #000000;
    position: fixed;
    z-index: 30;
    width: 100%;
    bottom: 0;
}

.footer__cta--link{
    display: inline-block;
    width: 25%;
    text-decoration: none;
    margin: 1.5rem 0 0;
}

.footer__cta--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}