@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@media only screen and (max-width: 900px){
    html {
        font-size: 50%;
    }
}


body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 0 0 0 8rem;
}
/* Styling for about section */
.about{
    padding: 2rem 2rem 2rem 6rem;
    background-color: #F5F3F4; 
    text-transform: uppercase;
    font-size: 3rem;
    position: relative;
}
.about__header{
    font-size: 13rem;
    font-weight: 900;
    margin: 0 0 -2.7rem;
}
.about__paragraph{
    font-weight: 800;
    padding: 2rem 0 0;
}
.about__location{
    display: flex;
}
.location__paragraph{
    font-weight: 800; 
}
.location__header{
    font-size: 5rem;
    font-weight: 900;
    margin: 0 0 -1rem;
}
.map{
    width: 30%;
    background: aquamarine;
}
.about__image,
.date__line--box,
.time__line--box{
    width: 32%;
    display: inline-block;
    height: 100%;
    align-self: flex-end;
}
.about__box{
    display: flex;
}
.about__line--box,
.location__line--box{
    display: block;
    height: 10rem;
    margin: 0 0 0 -2rem;
}
.about__line--box{
    width: 100%;
}
.location__line--box{
    width: 100%;
}
.about__photo,
.date__line,
.about__line,
.time__line,
.location__line{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.date__box,
.time__box{
    display: flex;   
}

/* styling for tickets section */
.tickets{
    /* padding: 2rem 4rem; */
    padding: 0 4rem 2rem;
    background-image: linear-gradient(to bottom, #F5F5F5 24%, #908C8B 24%, #908C8B 80%,
    #F5F5F5 80%);
}
.tickects__header{
    color: #CF3132;
    font-size: 15rem;
    font-weight: 900;
}
.ticket__box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.ticket{
    width: 30%;
    text-align: center;
    background-color: #E6E6E6;
}
.ticket__title{
    width: 100%;
    padding: 3.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ticket__header{
    font-size: 5rem;
    font-weight: 900;

}
.ticket__header--no{
    display: block;
    margin: -1rem 0 0;
    font-size: 7rem;
}
.ticket__list{
    list-style: none;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
}
.ticket__item{
    padding: 1.3rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ticket__item:not(:last-child){
    border-bottom: 1px solid #D7D6D4;
}
.ticket__price{
    font-weight: 900;
    font-size: 4rem;
    padding: 3rem 0 7rem;
}


/* styling for FAQ */
.faq{
    background-color: #F5F5F5;
    padding: 5rem 4rem;
}
.faq__box{
    display: flex;
    justify-content: space-between;
}
.faq__question{
    width: 35%;
    align-self: start;
}
.faq__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq__details{
    width: 50%;
    padding: 3rem 4.5rem;
    background-color: #ffffff;
    height: 60rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    overflow: scroll;
}
.faq__details p {
    padding: 1rem 0;
}
.faq__header{
    font-weight: 900;
    font-size: 4rem;
}

/* styling fro instagram section */
.instagram{
    background-color: #F5F5F5;
    padding: 5rem 4rem;
    color: #000000;
    display: flex;
    justify-content: space-around;
}
.instagram__header{
    font-weight: 900;
    font-size: 4rem;
}
.instagram__posts{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.instagram__post{
    width: 30%;
    height: 20rem;
    background-color: palegoldenrod;
}

/* styling for sponsors */
.sponsors{
    padding: 5rem 0 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sponsors__header{
    font-size: 4rem;
    transform: rotate(-90deg);
    font-weight: 900;
    margin: 0 0 0 -9rem;
}

.sponsors__select{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.sponsors__options{
    width: 20%;
    height: 15rem;
}
.sponsors__options1,
.sponsors__options2,
.sponsors__options3,
.sponsors__options4,
.sponsors__options5{
    border-bottom: 1.5px solid #f3f0f0;
}
.sponsors__options1,
.sponsors__options2,
.sponsors__options3,
.sponsors__options4{
    border-right: 1.5px solid #f3f0f0;
}

.sponsors__options6,
.sponsors__options7,
.sponsors__options8,
.sponsors__options9{
    border-right: 1.5px solid #f3f0f0;
}


.sponsors__options:hover,
.sponsors__options:active{
    background-color: red;
}
/* Contact us section styling */
.contact{
    background-image: linear-gradient(to bottom, #F5F5F5 85%, #8D8D8D 85%);
    font-weight: 900;
    padding: 4rem 0 8rem 20rem;
    position: relative;
}
/* left text */
.contact__identifier{
    font-size: 3rem;
    transform: rotate(-90deg);
    width: 30%;
    position: absolute;
    left: -10%;
    top: 15%;    
}
.contact__identifier--line{
    display: inline-block;
    margin: .4rem 1.8rem;
    width: 4rem;
    height: .7rem;
    background-color: #000000;
}

.contact__header{
    font-size: 5rem;
    font-weight: inherit;
}
.contact__header--span{
    display: block;
    margin: -2rem 0 0 15rem;
}

/* contact form */
.contact__form{
    padding: 5rem 0;
    width: 85%;
}
.contact__details{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact__details--label{
    display: inline-block;
    font-size: 2rem;
    width: 45%;
    display: flex;
    align-items: center;
}
.contact__input{
    border: none;
    background-color: #E6E6E6;
    padding: 1rem;
    flex: 1;
    margin: 0 0 0 .8rem;
}
.message__label{
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    margin: 2rem 0;
}

.textarea { 
    resize: none; 
    background-color: #E6E6E6;
    flex: 1;
    border: none;
    margin: 0 0 0 .8rem;
}


/* FOOTER STYLING */
.footer{
    background-color: #000000;
    color: #ffffff;
    padding: 3rem 0 27rem;
}

.footer__details{
    display: flex;
    font-size: 1.7rem;
    justify-content: space-around;
    width: 80%;
    padding: 2rem 0 0 5rem;
}

.footer__header{
    color: #CF3132;
    font-size: 3rem;
    font-weight: 800;
    padding: 0 0 1.5rem 0;
}

.footer__email{
    /* font-size: 4rem; */
    font-weight: 700;
}

.footer__email--icon{
    padding: 0 .8rem 0 0;
}

/* footer icon */
.footer__icon--box{
    font-size: 4rem;
}

.footer__icon{
    display: inline-block;
    padding: 0 0 0 2rem;
}

/* footer cta */
.footer__cta{
    text-align: center;
    background-color: #000000;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.footer__cta--link{
    display: inline-block;
    width: 40%;
    text-decoration: none;
    margin: 3rem 0 0;
}

.footer__cta--image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}